body {
    background: #ddd;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 1920px;
    align-items: center;
}
.logo {
    width: 360px;
    margin-top: 100px;
}
.container {
    margin-left: 125px;
    margin-right: 125px;
}
.odkazy {
    margin-top: 100px;
}
.odkaz {
    width: 250px;
    height: 250px;
    background: #00b0e1;
}
.odkaz img {
    width: 100px;
}